
*{
    margin: 0;
    padding: 0;
}
body{
    width: 1440px;
    height: 685px;
    font-family: Josefin Sans;
    color: #666363;
}

header{
    display: flex;
    height: 100px;
    flex-direction: row;
    background-color: #CBF9BC;
    justify-content: space-around;
}

#fig_header{
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
}

#img_header{
    height: 75px;
}

nav{
    height: 100px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 15px;
    height: 100%;
    font-size: 20px;
    align-items: center;
}

li{
    width: 120px;
    text-align: center;
}

#b1{
    width: 115px;
    height: 45px;
    background-color: #258E00;
    border-radius: 10px;
    border-style: none;
    color:#fdfdfd;
    font-family: Josefin Sans;
    font-size: 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #EBFDE5;
}

#s1{
    grid-column: 1fr;
    align-items: center;
    justify-content: center;
}

#s1_1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 120px;
    gap: 30px
}

#s2{
    grid-column: 1fr;
}

#fig_main{
    width: 800px;
    height: 400px;
    margin-right: 80px;
    margin-bottom: 95px;
    margin-top: 50px;
}

#img_main{
    width: 715px;
    height: 400px;
}

p{
    font-size: 30px;
    width: 400px;
}

#b2{
    width: 235px;
    height: 40px;
    background-color: #258E00;
    border-radius: 5px;
    border-style: none;
    color:#fdfdfd;
    font-family: Josefin Sans;
    font-size: 20px;
}

#avaliacoes{
    display: flex;
    flex-direction: row;
    gap: 75px;
    justify-content: space-around;
    border-style: solid;
    border-color: #666363;
    border: 20px;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    border: #EBFDE5 solid 5px;
    border-radius: 10px;
}

#b3{
    width: 175px;
    height: 30px;
    background-color: #258E00;
    border-radius: 10px;
    border-style: none;
    color:#fdfdfd;
    font-family: Josefin Sans;
    font-size: 20px;
}

.fig_cards{
    width: 200px;
    height: 175px;
}

.img_cards{
    width: 200px;
    height: 175px;
}

.lorem{
    font-size:15px;
    width: 344px;
    text-align: center;
    height: 65px;
    margin-bottom: 50px;
}

h5{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 75px;
    font-weight: 400;
}

h3{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #258E00;
    width: 300px;
    height: 50px;
}

footer{
    margin-top: 115px;
    background-color: #CBF9BC;
    height: 215px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h4{
    font-size: 25px;
    padding-top: 50px;
}

#redes_sociais{
    display: flex;
    flex-direction: row;
    gap: 30px
}

.contato_imgs{
    width: 20px;
    margin-right: 5px;
}

#contato{
    display: flex;
    flex-direction: column;
    gap:20px
}

.rounded{
    width:65px;
    height: 50px;
}

#footer2{
    display: flex;
    flex-direction: column;
    gap: 18px
}