<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC</title>
    <link rel="stylesheet" href="/essencialmente/static/css/imc.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <header>
        <form action="">
            <div>
                <h5>Selecione: </h5>
                <div>
                    <div>
                        <input type="radio" id='adulto' name='idade'>
                        <label for="adulto">Adulto</label>
                    </div>
                    <div>
                        <input type="radio" id='crianca' name='idade'>
                        <label for="crianca">Criança</label>
                    </div>
                </div>
                <span>Acima de 19 anos</span>
                <span>Abaixo de 19 anos</span>
                <h5>IMC para Adulto</h5>
                <div>
                    <div>
                        <input type="text" id='peso' name='peso'>
                        <label for="peso">Peso (kg)</label>
                    </div>
                    <div>
                        <input type="text" id='altura' name='altura'>
                        <label for="altura">Altura (m)</label>
                    </div>
                </div>
            </div>
            <h5>Sexo</h5>
            <div>
                <input type="radio" id='homem' name='gen'>
                <label for="homem">Homem</label>
                <input type="radio" id='mulher' name='gen'>
                <label for="mulher">Mulher</label>
            </div>
            <button class='btn' type='submit'>calcular</button>
        </form>
    </header>
    <main>
        <div>
            <div>
                <h3>seu IMC é:</h3>
                <h2>IMC</h2>
            </div>
            <p>Como chegamos ao número à esquerda: o indice de massa corporal de um adulto é o seu peso em quilos (por exemplo, 80 kg), dividido por sua altura ao quadrado (vamos imaginar, 1,80 m x 1,80 m).</p>
        </div>
        <h5>Entenda o seu resultado</h5>
        <div>
            <img src="" alt="">
            <span></span>
            <h6></h6>
            <span></span>
        </div>
    </main>
</body>
</html>